[Desktop Entry]
Name=Messaggio di Benvenuto
Comment=Modifica il messaggio vocale di benvenuto all'avvio
Exec=/home/tanarox/.config/hypr/UserScripts/BenvenutoConfig.sh
Icon=preferences-system
Terminal=false
Type=Application
Categories=Settings;
